
  @import url(https://fonts.googleapis.com/icon?family=Material+Icons);

  @import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css);
.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
    padding: 50px 20px 10px;
  }
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
